<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<input type="text" id="RoomName" placeholder="enter your room">
<input type="text" id="name" placeholder="enter your name">
<button id="joinRoom">SUPPORT_ROOM</button>


<input type="text" id="message" placeholder="enter your message" style="display: none">
<button id="send_msg" style="display: none">SEND</button>
<div style="width: 25%; display: none" id="msgBox"></div>
<button id="exitBtn" style="display: none">EXIT</button>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    const joinRoom = document.getElementById('joinRoom');
    const name = document.getElementById('name');
    const RoomName = document.getElementById('RoomName');
    const message = document.getElementById('message');
    const send_msg = document.getElementById('send_msg');
    const exitBtn = document.getElementById('exitBtn');
    const msgBox = document.getElementById('msgBox');

    let room_id;
    let socket_id;

    joinRoom.onclick = () => {
        joinRoom.style.display = `none`;
        RoomName.style.display = `none`;
        name.style.display = `none`;
        msgBox.style.display = `block`;
        message.style.display = `block`;
        send_msg.style.display = `block`;
        exitBtn.style.display = `block`;

        room_id = RoomName.value;

        socket.emit('joinRoom', {room_id})
    };

    send_msg.onclick = () => {
        room_id = RoomName.value;
        socket_id = name.value;
        socket.emit('msgToRoom', {data: message.value, room_id, socket_id});

        message.value = "";
    };

    socket.on('sendMsgToRoom', resp => {
        const div = document.createElement('div');

        div.style.border = '1px solid green';
        div.style.padding = '5px';
        div.style.marginTop = '10px';

        console.log(resp.data);

        div.innerText = `User: ${resp.id} \n Message: ${resp.data}`;

        msgBox.appendChild(div);
    });

    exitBtn.onclick = () => {
        joinRoom.style.display = 'inline';
        RoomName.style.display = 'block';
        name.style.display = 'block';
        message.style.display = `none`;
        send_msg.style.display = `none`;
        exitBtn.style.display = `none`;
        msgBox.style.display = `none`;
    }
</script>
</body>
</html>